@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.smart-text {
    color: var(--Type-Neutrals-Main-Header, #222);
    font-family: "Fira Sans", sans-serif !important;
    font-style: normal;
    font-weight: 600;
}

.smart-sub-text{
    color: var(--Type-Neutrals-Main-Header, #222);
font-family: "Fira Sans", sans-serif !important;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}